<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/estilos.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta de Categorias</title>
</head>
<body>
    <div class="header">
        <h3>Categorias de productos</h3>
            <form id="form_categoria" action="post">
            <div>
                <label for="id_categoria" class="letras"> ID categoria:</label>
                <input name="id_categoria" id="id_categoria" type="text" placeholder="Id de la categoria">
            </div>
            <div>
                <label for="nombre_categoria" class="letras">Nombre de la categoria</label>
                <input name="nombre_categoria" id="nombre_categoria" type="text" placeholder="ingrese categoria">
            </div>
            <div class="boton">
                <button id="boton_guardar" name="boton_guardar" type="submit">Guardar</Button>
                <button id="boton_cancelar" name="boton_cancelar" type="reset">Cancelar</button>
            </div>
            </form>
            <span class="mi_nombre">Sebastian Yacono</span>
    </div>
    <script src="../../assets/js/validaciones.js"></script>
</body>
</html>