body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header{
    margin: 5px;
    padding: 5px;
    border: 15px;
    background-color: aqua;
    color: red;
    top: 0%;
    right: 50%;
    position: absolute;
    



}

.nombre {

    margin: 1px;
    padding: 1px;
    position: absolute;
    background-color: rgb(134, 134, 246);
    right: 50%;
    bottom: 0%;


}

.elementos {
    top: 50%;
    position: fixed;
    right: 50%;
    margin: 15px;
    padding: 10px;
    color: black;

}

.boton {
    
    position: static;
    right: 50%;
    bottom: 50%;

}

.fondo{

    margin: 15px;
    padding: auto;
    border: 15px;



}