<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/estilos.css">
    <title>Carga de productos</title>
</head>
<body>
    <div class="header">
        <h1>Carga de productos</h1>
        <div>
            <div>
                <p class="letras">Id producto</p>
                <input type="number" name="Id producto" placeholder="ingrese ID">
            </div>
            <div>
                <p class="letras">Nombre</p> 
                <input type="text" placeholder="nombre del art.">
            </div>
            <div >
                <p class="letras">Imagen</p>
                <input type="file">
            </div>
            <div>
                <p class="letras">Descripcion</p>
                <textarea name="" id="" cols="25" rows="5" placeholder="Descripcion..."></textarea>
            </div>
            <div>
                <p class="letras">Precio</p>
                <input type="text" placeholder="valor numerico">
            </div>
            <div>
                <p class="letras">Categoria</p>
                <select name="" id=""></select>
                <input  type="text" placeholder="Seleccione categoria">
            </div>
            <div>
                <button type="submit">Guardar</button>
                <button type="reset">Cancelar</button>
            </div>
        </div>
        <p>Sebastian Yacono</p>
    </div>
    
</body>
</html>