body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.header {

    text-align: center;
    margin: 15px;
    padding: 10px;
    border-color: black;
    border-style:dashed;
    background-color: rgba(88, 246, 151, 0.626);
    position: absolute;
    right: 50%;

}

.boton {
    
    margin: 5px;
    padding: 5px;

}


